.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
*.log
*.tmp
*.temp
publish/
*.rsuser
*.sln.ide
*.dbmdl
*.dbproj.schemaview
*.jfm
_ReSharper.*
*.DotSettings.user
.idea/
.vscode/
test-results/
coverage/